<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Id="*"
      Name="Audiocity"
      Manufacturer="Audiocity"
      Version="$(var.ProductVersion)"
      Language="1033"
      UpgradeCode="{7A0C79C3-8AB4-4FD7-9B3C-B00FC2D98EB4}">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Audiocity is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com" />
    <Property Id="ARPCONTACT" Value="Audiocity" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="MIT-LICENSE.rtf" />

    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Feature Id="ProductFeature" Title="Audiocity" Level="1" Display="expand" ConfigurableDirectory="INSTALLFOLDER">
      <Feature
          Id="StandaloneFeature"
          Title="Standalone Application"
          Description="Installs the Audiocity standalone application and runtime dependencies."
          Level="1"
          Absent="allow">
        <ComponentRef Id="cmpStandaloneExe" />
        <ComponentRef Id="cmpStandaloneRexDll" />
        <ComponentRef Id="cmpDesktopShortcut" />
        <ComponentRef Id="cmpStartMenuShortcut" />
      </Feature>

      <Feature
          Id="Vst3Feature"
          Title="VST3 Plugin"
          Description="Installs Audiocity VST3 to the standard VST3 location and runtime dependencies."
          Level="1"
          Absent="allow">
        <ComponentRef Id="cmpVst3Binary" />
        <ComponentRef Id="cmpVst3RexDll" />
        <ComponentRef Id="cmpVst3ModuleInfo" />
        <ComponentRef Id="cmpVst3PluginIco" />
      </Feature>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Audiocity" />
      </Directory>

      <Directory Id="CommonDesktopFolder" Name="Desktop" />

      <Directory Id="CommonProgramsFolder">
        <Directory Id="AudiocityStartMenuFolder" Name="Audiocity" />
      </Directory>

      <Directory Id="CommonFiles64Folder">
        <Directory Id="VST3ROOTFOLDER" Name="VST3">
          <Directory Id="VST3BUNDLEFOLDER" Name="Audiocity.vst3">
            <Directory Id="VST3CONTENTSFOLDER" Name="Contents">
              <Directory Id="VST3RESOURCESFOLDER" Name="Resources" />
              <Directory Id="VST3X64FOLDER" Name="x86_64-win" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <Component Id="cmpStandaloneExe" Directory="INSTALLFOLDER" Guid="*" Win64="yes">
      <File Id="filStandaloneExe" Source="$(var.StandaloneSourceDir)\Audiocity.exe" KeyPath="yes" />
    </Component>

    <Component Id="cmpStandaloneRexDll" Directory="INSTALLFOLDER" Guid="*" Win64="yes">
      <File Id="filStandaloneRexDll" Source="$(var.StandaloneSourceDir)\REX Shared Library.dll" KeyPath="yes" />
    </Component>

    <Component Id="cmpVst3Binary" Directory="VST3X64FOLDER" Guid="*" Win64="yes">
      <File Id="filVst3Binary" Source="$(var.Vst3SourceDir)\Audiocity.vst3\Contents\x86_64-win\Audiocity.vst3" KeyPath="yes" />
    </Component>

    <Component Id="cmpVst3RexDll" Directory="VST3X64FOLDER" Guid="*" Win64="yes">
      <File Id="filVst3RexDll" Source="$(var.Vst3SourceDir)\Audiocity.vst3\Contents\x86_64-win\REX Shared Library.dll" KeyPath="yes" />
    </Component>

    <Component Id="cmpVst3ModuleInfo" Directory="VST3RESOURCESFOLDER" Guid="*" Win64="yes">
      <File Id="filVst3ModuleInfo" Source="$(var.Vst3SourceDir)\Audiocity.vst3\Contents\Resources\moduleinfo.json" KeyPath="yes" />
    </Component>

    <Component Id="cmpVst3PluginIco" Directory="VST3BUNDLEFOLDER" Guid="*" Win64="yes">
      <File Id="filVst3PluginIco" Source="$(var.Vst3SourceDir)\Audiocity.vst3\Plugin.ico" KeyPath="yes" />
    </Component>

    <Component Id="cmpDesktopShortcut" Directory="CommonDesktopFolder" Guid="*" Win64="yes">
      <Shortcut
          Id="DesktopShortcut"
          Name="Audiocity"
          Description="Launch Audiocity"
          Target="[INSTALLFOLDER]Audiocity.exe"
          WorkingDirectory="INSTALLFOLDER" />
      <RegistryValue Root="HKLM" Key="Software\Audiocity\Installer" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="cmpStartMenuShortcut" Directory="AudiocityStartMenuFolder" Guid="*" Win64="yes">
      <Shortcut
          Id="StartMenuShortcut"
          Name="Audiocity"
          Description="Launch Audiocity"
          Target="[INSTALLFOLDER]Audiocity.exe"
          WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveAudiocityStartMenuFolder" Directory="AudiocityStartMenuFolder" On="uninstall" />
      <RegistryValue Root="HKLM" Key="Software\Audiocity\Installer" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
