<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Bundle
      Name="Audiocity Setup"
      Version="$(var.ProductVersion)"
      Manufacturer="Audiocity"
      UpgradeCode="{6C78D1B4-E8CD-4D15-9AAB-C8FBFA6A2B91}">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
          LicenseFile="MIT-LICENSE.rtf"
          SuppressRepair="yes" />
    </BootstrapperApplicationRef>

    <util:RegistrySearch
        Id="SearchVcRedistVersion"
        Root="HKLM"
        Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64"
        Value="Version"
        Result="value"
        Variable="VCREDISTVERSION"
        Win64="yes" />

    <Chain>
      <ExePackage
          Id="VcRedistX64"
          Name="VC_redist.x64.exe"
          SourceFile="$(var.VcRedistSourcePath)"
          PerMachine="yes"
          Vital="yes"
          Compressed="yes"
          DetectCondition="VCREDISTVERSION"
          InstallCommand="/install /quiet /norestart"
          RepairCommand="/repair /quiet /norestart"
          UninstallCommand="/uninstall /quiet /norestart" />

      <MsiPackage
          Id="AudiocityMsi"
          SourceFile="$(var.MsiSourcePath)"
          Vital="yes"
          DisplayInternalUI="yes" />
    </Chain>
  </Bundle>
</Wix>